* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('Fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('Fonts/Poppins-Bold.ttf');
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(to top left, #42275a, #734b6d);
  overflow: hidden;
  position: relative;
  font-family: 'Poppins';
}

.one {
  width: 100%;
  height: 100%;
  background-image: url('Images/pexels-janko-ferlic-590493.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  position: absolute;
}

.one h1 {
  margin-top: 250px;
  font-size: 100px;
  padding-left: 20px;
  font-weight: 1000;
  color: white;
}

.one p {
  font-size: 30px;
  padding-left: 20px;
  color: white;
}

.one::before {
  content: '';
  background: linear-gradient(
    to right,
    rgba(15, 28, 41, 0.5),
    rgba(15, 28, 41, 0.2),
    transparent
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  display: inline-block;
  padding: 20px 20px;
}

header .menuBar {
  cursor: pointer;
}

.boxContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15em;
  padding-bottom: 5em;
}

.container {
  min-height: 400px;
  min-width: 400px;
  perspective: 1000;
  position: relative;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 51%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 51%, 100% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: #04a67e;
  transform-origin: top left;
  transition: opacity 0.5s ease-in-out;
}

.login::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  transform-origin: top left;
  background-color: #3a8169;
  z-index: -1;
}

.register {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 51%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 51%, 100% 0, 100% 100%, 0 100%);
  height: 100%;
  width: 100%;
  text-align: right;
  background-color: #a3a248;
  transform-origin: top right;
  transition: opacity 0.5s ease-in-out;
}

.register::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  transform-origin: top right;
  background-color: #c9bc5f;
  z-index: -1;
}

.regAnim {
  animation: rotatereg 1s ease-in-out forwards;
}

.lgnAnim {
  animation: rotatelgn 1s ease-in-out forwards;
}

@keyframes rotatelgn {
  100% {
    transform: rotateZ(0);
    z-index: 1;
  }
  50% {
    transform: rotateZ(65deg);
  }
  0% {
    transform: rotateZ(0);
  }
}

@keyframes rotatereg {
  100% {
    transform: rotateZ(0);
    z-index: 0;
  }
  50% {
    transform: rotateZ(-75deg);
  }
  0% {
    transform: rotateZ(0);
  }
}

.login > p {
  margin-top: 25%;
  margin-left: 10%;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: ease 0.5s;
}

.register > p {
  margin-top: 25%;
  margin-right: 10%;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: ease 0.5s;
}

.reg:hover {
  color: rgb(0, 50, 92);
}

.lgin:hover {
  color: rgb(0, 50, 92);
}

.formcontainer {
  padding: 0 45px;
}

.login form {
  margin-top: 30px;
  height: auto;
  width: auto;
}

::placeholder {
  color: white;
}

.login form input[type='text'],
[type='password'] {
  padding: 10px 25px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  transition: 0.5s ease;
  width: 100%;
  margin-top: 25px;
  color: wheat;
}

.namecontainer,
.passwordcontainer {
  position: relative;
}

.EmailImg {
  fill: gray;
}

.login form .namecontainer::before {
  content: url('Svgs/envelope-solid.svg');
  display: block;
  position: absolute;
  top: 52%;
  left: 0;
  height: 20px;
  width: 20px;
}

.login form .passwordcontainer::before {
  content: url('Svgs/lock-svgrepo-com.svg');
  display: block;
  position: absolute;
  top: 52%;
  left: 0;
  height: 20px;
  width: 20px;
}

.login form input[type='submit'] {
  margin-top: 30px;
  padding: 5px 20px;
  width: 50%;
  border: none;
  color: #445464;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: medium;
  background-color: #c9bc5f;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s ease;
}

.login form input[type='submit']:hover {
  background-color: #e7d96f;
}

.parent {
  position: relative;
  min-width: fit-content;
  min-height: fit-content;
  z-index: 2;
}

.parent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background-color: rgba(0, 0, 0, 1);
  clip-path: circle(at center);
  transition: 1s;
  transform-origin: center;
  opacity: 0;
}

.main {
  min-height: 30px;
  min-width: 50px;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.parent.clicked::before {
  transform: scale(100);
  opacity: 1;
  cursor: default;
}

.main::before {
  content: '';
  background-color: #66fcf1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 30px;
  min-height: 5px;
  box-shadow: 0 15px 0 #66fcf1;
  transition: 1s;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.main::after {
  content: '';
  background-color: #66fcf1;
  position: absolute;
  top: 99%;
  left: 0;
  min-width: 30px;
  min-height: 5px;
  transition: 1s;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.main.clicked {
  transform: translateX(95vw);
}

.main.clicked::after {
  top: 50%;
  transform: rotate(45deg);
  background-color: white;
  z-index: 999;
}

.main.clicked::before {
  top: 50%;
  transform: rotate(-45deg);
  box-shadow: 0 0 0 transparent;
  background-color: white;
  z-index: 999;
}

.register > .terms {
  text-align: justify;
  margin-left: 10%;
  cursor: default;
  color: black;
}

.more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;
  height: fit-content;
  width: fit-content;
  opacity: 0;
  transition: 1s;
  gap: 1em;
}

.more.clicked {
  opacity: 1;
  z-index: 3;
  margin-top: 56px;
}

.more > ul.options li {
  font-family: 'Poppins-Bold';
  font-size: 4.5rem;
  font-weight: 1000;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 2px #04a67e;
  margin-bottom: 1em;
  text-transform: uppercase;
  transform: translateX(-110%);
}

.more > ul.options li::before {
  content: attr(data-text);
  color: #53c0b9;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: 1s;
}

.more > ul.options li:hover::before {
  width: 100%;
}

.more > ul.options li.clicked {
  animation: anim11 1s ease 0.5s forwards;
}

@keyframes anim11 {
  0% {
    transform: translateX(initial);
  }
  100% {
    transform: translateX(0);
  }
}

.description {
  position: relative;
  min-height: max-content;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  gap: 1em;
  overflow: hidden;
}

.desc {
  display: none;
  padding: 0 5em;
  text-align: justify;
  font-size: 1em;
  color: white;
  transform: translateX(110%);
}

.show {
  display: block;
  animation: anim11 1s ease forwards;
}

@keyframes anim11 {
  0% {
    transform: translateX(initial);
  }
  100% {
    transform: translateX(0);
  }
}

.active {
  -webkit-text-fill-color: #53c0b9;
}

footer {
  display: flex;
  min-width: 100vw;
  min-height: 100px;
  flex-direction: column;
  position: absolute;
  top: 92%;
  left: -44%;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  list-style: none;
  margin-left: 20px;
}

footer ul li:nth-child(1) a {
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.3s ease;
  background-image: url('Images/instagram-svgrepo-com.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

footer ul li:nth-child(2) a {
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.3s ease;
  background-image: url('Images/facebook-pngrepo-com\ \(1\).png');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

footer ul li:nth-child(3) a {
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.3s ease;
  background-image: url('Images/twitter-svgrepo-com.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

footer ul li:hover a {
  transform: translateX(20px);
}

.hideFix {
  opacity: 0;
}
